.layout {
  display: grid;
  grid-template-columns: 185px auto;
  grid-template-rows: min-content auto;
  height: 100vh;

  @media (max-width: 1280px) {
    display: flex;
    flex-direction: column;
  }
}

.myLayout {
  display: flex;
  flex-direction: column;
}

.header {
  grid-column: 1 / -1;
}

.myLayout {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e8eff6;

  & > div {
    flex: 1;
  }
}
