.button{
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  background-color: #2675F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  margin: 10px;
  div{
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 0 10px 0 20px;
  }
}
.image{
  margin: 0 0px 0 10px;
}
