@import "src/styles/global";

.container {
  position: relative;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background: url(../../../../public/svgs/pages/puzzles-bg.svg) center bottom / cover no-repeat;
}

.cardStudent {
  grid-column-start: span 2;
  margin-bottom: 35px;
  margin-right: 15px;

  @media (max-width: 1500px) {
    width: 50%;
    margin-right: 0;
  }

  @media (max-width: 1100px) {
    width: 70%;
  }

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 550px) {
    flex-direction: column;
    display: flex;
    height: auto;
    align-items: center;
  }
}

.progressBar {
  grid-row: 1 / -1;
  grid-column-end: -1;
  align-self: center;
  justify-self: center;
  margin-left: 20px;

  @media (max-width: 1700px) {
    margin-top: 30px;
    margin-left: 0;
  }

  @media (max-width: 550px) {
    transform: scale(0.8);
  }

  > div > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0 0 4px 4px rgb(15 18 63 / 25%);
    width: 145px;
    height: 145px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bigSlider {
  margin-bottom: 30px;
  margin-right: 30px;
}

.table {
  grid-column-start: span 2;
  grid-row-start: span 2;

  > div {
    width: 1095px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;

    @media (max-width: 1600px) {
      width: 1000px;
    }

    @media (max-width: 1500px) {
      width: 800px;
    }

  }

  @media (max-width: 800px) {
    position: relative;
    width: 100%;
    overflow-x: scroll;
  }
}

@media (max-width: 800px) {
  .resultForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px 10px;
    gap: 20px 10px;

    > button {
      margin: 0 auto;
    }
  }
}

.choiceBlock {
  display: flex;
  width: 80%;
  justify-content: space-between;

  @media (max-width: 1700px) {
    width: 100%;
  }

  @media (max-width: 1500px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.botBlock {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.rightBlock {
  display: flex;

  @media (max-width: 1700px) {
    flex-direction: column;
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.leftBlock {
  width: 100%;

  @media (max-width: 1100px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  @media (max-width: 800px) {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bigSlider {
    width: 210px;

    @media (max-width: 1100px) {
      margin-right: 0;
    }

    button {
      width: 100%;
    }
  }
}
