.innerContent {
  margin: 35px 0 0 20px;

  @media (max-width: 1500px) {
    margin: 35px 20px 20px;
  }

  @media (max-width: 550px) {
    margin: 30px 10px;
  }

  .wrapStudentCard {
    width: 747px;

    @media (max-width: 1100px) {
      width: 100%;

      > div {
        width: 100%;
        height: auto;
        align-items: flex-start;

        @media (max-width: 700px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px 10px;
        }
      }
    }
  }

  .wrapContent {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;

    @media (max-width: 1500px) {
      justify-content: space-between;
    }

    & .notActiveBlock {
      opacity: 0.4;
    }

    & .blockAchievement {
      background: url('../../../public/svgs/bg-card-achieve.svg') left top
          no-repeat,
        #ffffff;
      box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
      border-radius: 5px;
      width: 403px;
      height: 150px;
      display: flex;
      margin: 0 18px 6px 0;
      justify-content: center;
      align-items: center;
      padding: 0 21px 0 19px;
      background-size: cover;

      @media (max-width: 1500px) {
        width: 31%;
        min-height: 180px;
      }

      @media (max-width: 1500px) {
        width: 48%;
        margin-right: 0;
      }

      @media (max-width: 800px) {
        width: 100%;
        min-height: 100%;
        height: 100%;
        padding: 10px;
      }

      @media (max-width: 550px) {
        flex-direction: column;
      }

      & h3 {
        flex: 1;
        margin-right: 39px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        color: #000000;

        @media (max-width: 550px) {
          text-align: center;
          margin: 0 0 20px;
        }
      }

      &.img {
        flex: none;
      }
    }
  }
}
