@import "../../../styles/global";

.container {
  display: flex;

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.wrapperPagination {
  display: flex;
  margin-bottom: 23px;

  .wrapperSelects {
    display: flex;
  }

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.wrapperField {
  width: 369px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;

  @media (max-width: 440px) {
    flex-direction: column;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 92px;

  @media (max-width: 500px) {
    margin-right: 0;
  }
}

.description {
  flex: 0 0 35%;
  font: $font-small;
  color: #000000;
}

.submitButton {
  width: 130px;
  height: 40px;
}

.select {
  border-radius: 10px;
  margin-right: 17px;

  @media (max-width: 950px) {
    flex-direction: column;
    margin-bottom: 15px;

  }
}
