@import "../../styles/global";

.innerContent {
  margin: 35px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: url(#{$path-svg}/pages/abacus-bg.svg) right calc(100% - 85px)
    no-repeat;

  & .blockPersonal {
    box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
    border-radius: 10px;
    width: 48%;
    height: 220px;
    display: flex;
    align-items: center;
    background: url('../../../public/svgs/personal-data.png') right top no-repeat,
      #ffffff;
    position: relative;
    margin: 10px;
    padding-right: 85px;

    @media (max-width: 1280px) {
      height: auto;
      padding: 10px 85px 10px 10px;
    }

    @media (max-width: 1200px) {
     width: 100%;
      background: url('../../../public/svgs/personal-data.png') right no-repeat, #ffffff;
    }

    @media (max-width: 800px) {
     flex-direction: column;
      padding-right: 10px;
      margin: 0 0 20px;
      background: url('../../../public/svgs/personal-data.png') bottom no-repeat,
      #ffffff;
    }

    @media (max-width: 600px) {
      padding-top: 50px;
    }

    @media (max-width: 440px) {
      text-align: center;
    }

    & .avatar {
      background: #4778ec;
      border-radius: 18px;
      margin-left: 37px;
      width: 181px;
      height: 173px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1600px) {
        height: auto;
      }

      @media (max-width: 800px) {
       margin-left: 0;
        margin-bottom: 20px;
      }

      & .avatarImg {
        border-radius: 14px;
        width: 173px;
        height: 165px;
        border: 5px solid red;
      }
    }

    & .avatarAdd {
      background: url('../../../public/svgs/user-add.svg') center no-repeat,
        #4778ec;
      width: 171px;
      height: 171px;
      border-radius: 18px;
      margin-left: 37px;
      //padding: 54px 65px 55px 65px;

      @media (max-width: 800px) {
        margin: 0 0 20px
      }
    }

    & .information {
      margin-left: 38px;

      @media (max-width: 800px) {
        margin-left: 0;

      }

      & p.name {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat Alternates', sans-serif;
        color: $color-black;
      }

      & p.informationItem {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #babec6;
        margin-top: 10px;

        & span {
          font-size: 14px;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          color: #4778ec;
          margin-left: 12px;
        }
      }

      & .informationAdd {
        display: flex;
        > div{
          margin-left: 0;
        }
      }
    }

    & .icons {
      position: absolute;
      top: 33px;
      right: 23px;
      display: flex;

      @media (max-width: 600px) {
       top: 10px;
      }
    }
  }
}
