@import "../../../../styles/global";

.blockPersonal {
  width: 747px;
  height: 230px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px;

  .avatar {
    background: $color-blue;
    border-radius: 18px;
    margin-left: 37px;
    width: 181px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .avatarImg {
      border-radius: 14px;
    }
  }


  .information {
    margin-left: 38px;

    & p.name {
      font: $font-subheader;
      color: $color-black;
    }

    & p.informationItem {
      font: $font-small;
      color: $color-gray;
      margin-top: 10px;

      & span {
        font: $font-small;
        color: $color-blue;
        margin-left: 12px;
      }
    }
  }

  .wrapperInformationItem {
    display: flex;
  }

  .wrapperInformation {
    width: 472px;
    height: 164px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }

  .wrapperStatistics {
    align-self: self-end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    div {
      margin-bottom: 25px;
    }
  }

  .wrapperAchievements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
  }

  .iconAchievement {
    margin-left: 14px;
    margin-top: 12px;
    width: 22px;
    height: 28px;
  }

  .icons {
    position: absolute;
    top: 25px;
    right: 23px;
    display: flex;
  }
}

.statistics {
  font: $font-small;

  text-decoration-line: underline;
  color: $color-gray;

}

.button {
  width: 200px;
  height: 40px;
  margin-bottom: 6px;

}
