.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 35px 56px;
  max-width: 1066px;
  background: #fff;


  @media (max-width: 1200px) {
    max-width: 950px;

  }

  @media (max-width: 1000px) {
    max-width: 750px;


  }

  @media (max-width: 800px) {
    max-width: 650px;
  }

  @media (max-width: 700px) {
    max-width: 500px;
  }

  @media (max-width: 550px) {
    padding: 100px 10px 50px;
    width: 100%;
  }
}

.button {
  margin: 30px 75px 0 0;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: 1053px;
  padding: 37px 56px 27px 57px;

  h2 {
    margin-bottom: 30px;
    font-family: 'Aqum', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #0439AD;
    @media (max-width: 1000px) {
      margin-bottom: 0;
      //max-height: 600px
    }
    @media (max-width: 420px) {
      font-size: 16px;
      width: 220px;
    }


  }
}

.errors{
  color: red;
  height: 10px;
  display: flex;
  align-items: end;
  //justify-content: center;
  margin: 0 0 10px 150px;
  padding: 0 0 10px 0;
  @media (max-width: 1000px) {
    margin: 0 0 10px 160px;


  }

  @media (max-width: 700px) {
    margin: 0 0 0 160px;
    width: 200px;
  }

  @media (max-width: 530px) {
    margin: 25px 0 0 50px;
  }
}
.row {
  padding: 25px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding-left: 0;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 600px;
  }
  @media (max-width: 700px) {
    max-width: 400px;
    padding-right: 70px;
  }
  @media (max-width: 550px) {
    padding-top: 120px;
    padding-left: 30px;

  }
  @media (max-width: 530px) {
    padding-left: 30px;
    width: 300px;
  }
}

.table__select {
  margin: 10px 0 0 0;
  //padding: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
    & > div {
      width: 375px;
      margin: 10px 0 10px 0;
    }
  }
  @media (max-width: 720px) {
    flex-direction: column;
    & > div {
      width: 335px;

    }
  }
  @media (max-width: 530px) {
    margin-top: 30px;
    margin-bottom: 10px;
    flex-direction: column;
    & > div {
      width: 335px;
      margin: 0 0 20px 0;

    }
  }
}

.table__birthdate {
  //width: 310px;
  @media (max-width: 1000px) {
    width: 310px;
    & > div > div {
      width: 220px;
    }
    margin: -5px 0 10px 0;
  }
  @media (max-width: 530px) {
    margin: 15px 0 -15px -10px;
    div {
      div {
        width: 110px;
        margin: 0 -20px 10px 0;
      }
    }
  }
}

.table__row {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
    //width: 400px;
  }
}

.table__column {
  display: flex;
  flex-direction: column;
  @media (max-width: 1000px) {
    & > div {
      width: 250px;
    }
    &:nth-child(2) {
      input {
        margin-left: 45px;
      }

    }
    width: 400px;
  }
  @media (max-width: 530px) {
  }
}


.table__group {
  position: relative;
  @media (max-width: 1000px) {
    & > div > div > div {
      width: 220px;
      position: absolute;
      top: -10px;
      right: 25px;
    }
  }
  @media (max-width: 720px) {
    & > div > div > div {
      width: 180px;
      position: absolute;
      top: -10px;
      right: 65px;
    }
  }
  @media (max-width: 530px) {
    & > div{
      margin: 20px 0 0 35px;
    }
    & > div > div > div {
      width: 160px;
      position: absolute;
      top: 55px;
      right: 75px;
    }
  }
}

.table__payby{
  @media (max-width: 1000px) {
    width: 310px;
    & > div > div {
      width: 133px;
    }
    margin: 10px 0 -10px 0;


  }
  @media (max-width: 530px) {
    margin: 35px 0 -15px 0;
    div {
      //margin: 0 30px 0 0;
      div {
        width: 110px;
        margin: 0 140px 20px 0;
      }
    }
  }
}


.table__email{
  @media (max-width: 1000px) {
    width: 310px;
    & > div > div {
      width: 220px;
    }
    margin: 5px 0 10px 0;


  }
  @media (max-width: 530px) {
    margin: 5px 0 -15px -5px;
    div {
      div {
        width: 130px;
        margin: 0 -10px 10px 0;
      }
    }
  }
}

.table__teacher {
  position: relative;
  @media (max-width: 1000px) {
    & > div > div > div {
      width: 220px;
      position: absolute;
      top: -10px;
      right: 25px;
    }
  }
  @media (max-width: 800px) {
    & > div > div > div {
      width: 220px;
      position: absolute;
      top: -10px;
      right: 25px;
    }
  }
  @media (max-width: 720px) {
    & > div > div > div {
      width: 180px;
      position: absolute;
      top: -10px;
      right: 67px;
    }
  }
  @media (max-width: 530px) {
    & > div{
      margin: 30px 0 0 35px;
    }
    & > div > div > div {
      width: 160px;
      position: absolute;
      top: 50px;
      right: 80px;
    }
  }
}

.table__payform{
  @media (max-width: 1000px) {
    width: 310px;
    & > div > div {
      width: 133px;
    }
    margin: 10px 0 -10px 0;


  }
  @media (max-width: 530px) {
    margin: 20px 0 -15px 0;
    div {
      //margin: 0 30px 0 0;
      div {
        width: 110px;
        margin: 0 60px 20px 0;
      }
    }
  }
}

.imageWrapper {
  margin-right: 40px;

  img {
    border-radius: 50%;
  }

  @media (max-width: 1200px) {
    width: 240px;
    height: 240px;
  }

  @media (max-width: 1000px) {
    width: 190px;
    height: 190px;
    margin-bottom: 14px;
    margin-right: 0;
  }

  @media(max-width: 800px) {
    width: 150px;
    height: 150px;

  }

  @media (max-width: 720px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 700px) {
    margin-left: 60px;
  }

  @media (max-width: 550px) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 80px;
    left: 50%;
    margin-left: -40px;
  }

}

.table {
  width: 550px;
  //& > form > div{
  //  margin-bottom: 24px;
  //}

  @media(max-width: 1000px) {
    width: 380px;
  }

  @media(max-width: 800px) {
    width: 340px;
  }

  @media(max-width: 700px) {
    width: 250px;
  }

  @media(max-width: 550px) {
    width: 100%;
  }

  & > * {
    margin-bottom: -3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Aqum';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #0439AD;

  @media (max-width: 550px) {
    font-size: 14px;
  }
}


.infoItem {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #000000;

  > div {
    width: 100%;

    > div {
      //display: none;

      + div {
        width: 100%;
      }

      > div {
        width: 100%;
      }
    }
  }

  @media (max-width: 700px) {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  span {
    display: inline-block;
    width: 235px;

    @media (max-width: 700px) {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
    border-radius: 10px;
  }
}

.selectWrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.selectWidth {
  width: 64%;

  @media (max-width: 1000px) {
    width: 76%;
  }

  @media (max-width: 800px) {
    width: 81%;
  }

  @media (max-width: 700px) {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div {
      flex-direction: column;

      @media (max-width: 550px) {
        width: 100%;
      }
    }

    & > div > div {
      width: 100%;

      & > p {
        text-align: center;
        margin-bottom: 10px;

        @media (max-width: 550px) {
          text-align: center;
        }
      }
    }
  }
}

.selectError{
  div{
    margin: 15px 0 0 150px;
    &:last-child{
      margin: 15px 45px 0 0;
    }
  }
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
}
