@import "src/styles/global";

.container {
  @media (max-width: 1600px) {
    position: relative;
    width: 100%;
    overflow-x: scroll;
  }
}

.innerContainer {
  display: flex;
  column-gap: 15px;

  @media (max-width: 1600px) {
   width: 1600px;
  }
}

.timeIntervals {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.halfHour {
  margin-top: auto;
  font: $font-smaller;
}

.grid {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px 10px 0 0;
}

.row {
  display: flex;
  height: 43px;

  &:nth-child(odd):not(:first-child) {
    background-color: #f8f8ff;
  }
}

.cell {
  flex-grow: 1;
  border-right: 1px solid #e0dfdd;

  &:last-child {
    border-right: none;
  }
}

.rowHeader {
  display: flex;
  height: 40px;
  background-color: #e8eff6;
  box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px 10px 0 0;
}

.headerCell {
  text-align: center;
  font: $font-small;
  line-height: 40px;
  color: black;
}
