.button {
  width: 154px;
  height: 45px;

  background: linear-gradient(0deg, #E6EEF8, #E6EEF8), #CFD8DC;
  box-shadow: inset -4px -4px 12px rgba(253, 255, 255, 0.8), inset 4px 4px 12px rgba(187, 195, 206, 0.6);
  border-radius: 10px;

  font: $font-small;
  color: #000000;
  text-align: left;
  padding-left: 12px;

  &:hover {

    background: linear-gradient(0deg, #3A8DF5, #3A8DF5), #35AADE;
    border-radius: 10px;
    color: #FFFFFF;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
