@import "../../../styles/global";

.container {
  display: flex;
}

.wrapperPagination {
  display: flex;
  margin-bottom: 23px;
}

.wrapperField {
  width: 369px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.wrapper {
display: flex;
  flex-direction: column;
  margin-right: 92px;
}

.description {
  flex: 0 0 35%;
  font: $font-small;
  color: #000000;
}

.submitButton {
  width: 130px;
  height: 40px;
}

.select {
  border-radius: 10px;
  margin-right: 17px;
}
