@import "../../styles/global";

.innerContent {
  padding: 35px 0 85px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background: url(#{$path-svg}/pages/lamp-bg.svg) top right no-repeat;
}

.wrapperList {
  display: flex;
  position: relative;
}

.select {
  width: 140px;
  border-radius: 10px;
  margin-right: 17px;
}

.homeworks {
  width: 617px;
  margin-left: 108px;
  margin-right: 22px;
  z-index: 50;
}
