.wrapperModal {
  background: #FFFFFF;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;
  padding: 37px 120px 46px;
  width: 1065px;
  flex: 0 !important;

  @media (max-width: 1100px) {
    padding: 30px;
    width: 95%;
    max-width: 1100px;
  }
  @media (max-width: 550px) {
    padding: 30px 10px;
  }

  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 46px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .lesson {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;

    @media (max-width: 800px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    .calendarLessons {

      > div {
        width: 100%;

        > div {
          width: 100%;

          > div {
            width: 100px;
          }
        }
      }
    }

    > div {
      display: flex;
      width: 33%;
      align-items: center;
      @media (max-width: 1000px) {
        flex-direction: column;
      }
      @media (max-width: 800px) {
        width: 100%;
        margin-bottom: 20px;
      }

      p {
        flex: 0 0 35%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        @media (max-width: 1000px) {
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 1000px) {
      .startLesson {
        flex-direction: column;

        > div:first-child {
          display: none;
        }

        > div {
          width: 100%;
        }
      }
      .endLesson {
        flex-direction: column;

        > div:first-child {
          display: none;
        }

        > div {
          width: 100%;
        }
      }
    }
  }

  .saveItem {
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .saveSelect {
      display: flex;
      align-items: center;

      > div > div:first-child {
        display: none;
      }

      > div > div {
        width: 100%;
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        p {
          margin-bottom: 10px;
        }
      }
    }

    .lessonBtn {
      display: flex;
      align-items: center;
      @media (max-width: 800px) {
        flex-direction: column;
        margin-top: 20px;
      }

      .btnEdit {
        width: 247px;

        > div {
          font-size: 14px;
          line-height: 17px;
          font-weight: 700;
        }
      }

      .btnSave {
        width: 155px;

        > div {
          font-size: 14px;
          line-height: 17px;
          font-weight: 700;
        }
      }
    }
  }

  .bottomContainer {
    margin-top: 43px;

    .statusLesson {
      margin-bottom: 52px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
      }

      .btnStatus {
        width: 40%;
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
          flex-direction: column;
          .statusSelect {
            > div:first-child {
              display: none;
            }

            > div {
              width: 100%;
            }
          }
        }
        @media (max-width: 800px) {
          margin-bottom: 20px;
        }

        > p {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          @media (max-width: 1000px) {
            margin-bottom: 10px;
          }

        }

      }

      .btnTeacher {
        width: 55%;
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
          flex-direction: column;
        }

        p {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          flex: 0 0 25%;
          @media (max-width: 1000px) {
            margin-bottom: 10px;
          }
        }

        .teacherInput {
          width: 100%;

          > div:first-child {
            display: none;
          }

          > div {
            width: 100%;
            max-width: 100%;
          }
        }
      }

    }
  }

  .groupSection {
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    .nameGroup {
      display: flex;
      align-items: center;
      @media (max-width: 1000px) {
        flex-direction: column;
      }

      > p {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        @media (max-width: 1000px) {
          margin-bottom: 10px;
        }
      }

      .nameInput {
        > div:first-child {
          display: none;
        }

        > div {
          width: 100%;
          max-width: 100%;
          margin-left: 20px;
        }
      }


    }

    .lvlGroup {
      display: flex;
      align-items: center;
      @media (max-width: 1000px) {
        flex-direction: column;
      }
      @media (max-width: 800px) {
        margin: 20px 0;
      }

      .lvlGame {
        > div:first-child {
          display: none;
        }

        > div {
          width: 100%;
          max-width: 100%;
          margin-left: 20px;
        }
      }

      > p {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        @media (max-width: 1000px) {
          margin-bottom: 10px;
        }
      }

    }
  }
}


