.tableBlock {
  width: 1230px;
  margin: 28px auto 0;

  @media (max-width: 1400px) {
    width: 1000px;
  }
  @media (max-width: 1280px) {
    width: 100%;
    overflow-x: scroll;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
}
