@import '../../../styles/global';

.item {
  background: #000;
  font-weight: 600;
  max-height: 30px;
  padding: 8px 11px;
  min-width: 100px;
  width: auto;
  display: inline-block;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
  &_small {
    min-width: 75px;
  }
  &_active{
    background: #000;
    color: $color-white;
  }
  @media(max-width: 756px) {
    width: 100%;
  }
}
