
.customInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 800px) {
    width: 500px;
    height: 400px;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    width: 390px;
    height: 300px;
  }

  @media (max-width: 550px) {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #3E77B1;

    @media (max-width: 550px) {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
}
