@import "src/styles/global";

.modalAddLessons {
  width: 1155px;
  padding: 40px 100px;
  @media (max-width: 1200px) {
    width: 900px;
    height: 600px;
    padding: 40px 60px;
  }

  @media (max-width: 1000px) {
    width: 700px;
    height: 500px;
  }

  @media (max-width: 800px) {
    width: 500px;
    height: 400px;
    //padding: 40;
  }
  @media (max-width: 720px) {
    width: 400px;
    height: 400px;
    //margin: 0 50px 0 0;
    //padding: 40;
  }
  @media (max-width: 530px) {
    width: 250px;
    height: 350px;
    padding: 0 0 0 0;
    margin: 40px 0 0 60px;
  }
  @media (max-width: 420px) {
    width: 300px;
    height: 350px;
    padding: 0 0 0 0;
    margin: 0 0 0 20px;
  }
  @media (max-width: 390px) {
    width: 250px;
    margin: 0 0 0 0px;
  }

  h2 {
    margin-right: 30px;
    margin-bottom: 24px;
    font-family: 'Aqum';
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 800px) {
      margin-right: 0;
      font-size: 20px;
      line-height: 20px;
    }
    @media (max-width: 530px) {
      font-size: 20px;
      margin: 0 0 40px -30px;
    }
    @media (max-width: 420px) {
      width: 200px;
      font-size: 20px;
      margin: 60px 0px 20px 35px;
    }@media (max-width: 390px) {
      width: 150px;
      font-size: 20px;
      margin: 30px 0px 20px 35px;
    }
  }

  .levelBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 935px;
    @media (max-width: 1200px) {
      width: 840px;
    }
    @media (max-width: 1000px) {
      width: 640px;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      //margin-bottom: 0;
      margin: 0 auto;
      width: 400px;
    }
    @media (max-width: 720px) {
      flex-direction: column;
      //margin-bottom: 0;
      margin: 0 auto;
      width: 300px;
    }
    @media (max-width: 530px) {
      flex-direction: column;
      align-items: center;
      .number{
        margin: 0 30px 0 0;
      }
      width:200px;
      margin: 0 auto;
    }

    > div {
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        width: 100%;
        flex-direction: column;
      }

      .levelSelectBlock {
        > div {
          width: 170px;

          @media (max-width: 800px) {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }

      p {
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
          margin-bottom: 10px;
        }
      }
    }
  }


  .numberChoice {
    width: 895px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media (max-width: 1200px) {
      width: 800px;
      & > div {
        margin-left: -30px;
      }
    }
    @media (max-width: 1000px) {
      width: 600px;
      & > div {
        margin-left: 40px;
      }
    }
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
        .number{
          margin: 0 30px 0 0;
        }
      width:400px;
      margin: 0 auto;
    }
    @media (max-width: 720px) {
      flex-direction: column;
      align-items: center;
      .number{
        margin: 0 30px 0 0;
      }
      width:300px;
      margin: 0 auto;
    }
    @media (max-width: 530px) {
      flex-direction: column;
      align-items: center;
        .number{
          margin: 0 30px 0 0;
        }
      width:200px;
      margin: 0 auto;
    }


    .valueCalendar {
      //width: 300px;
      display: flex;
      align-items: center;
      margin-left: 16px;

      & > div {
        width: 200px;
        margin-left: -50px;
      }

      @media (max-width: 1200px) {
        & > div {
          width: 200px;
          margin-left: -80px;
        }
      }
      @media (max-width: 1000px) {
        flex-direction: column;
        & > div {
          p {
            margin: 0 0 10px 0;
          }
        }
      }
      @media (max-width: 800px) {
        flex-direction: column;
        width: 100%;
        //margin: 20px 0 20px 140px;
        margin: 0 0 0 0;
        & > div {
          width: 200px;
          margin: 20px 0 0 0;
          p{
            margin: 15px 0 0 10px;
          }
        }
      }

      p {
        white-space: nowrap;
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
        }
      }
    }

    .valueStart {
      width: 200px;
      display: flex;
      align-items: center;
      margin-top: 0;
      justify-content: space-between;
      @media (max-width: 1000px) {
        flex-direction: column;

        & > div {
          p {
            margin: 0 0 10px 0;
          }
        }
        & > div > div {
          width: 100px;
          margin-left: -3px;
        }
      }
      @media (max-width: 800px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 20px 90px 0 0;

        & > div > div {
          width: 122px;
          //margin: 0 -30px 0 0;
        }
        & > div {
          p {
            margin: 0 0 10px 10px;
          }
        }
      }


      > div {
        width: 65px;
        @media (max-width: 800px) {
          width: 100px;
          margin: 0 0 0 0;
        }
      }

      p {
        white-space: nowrap;
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
          margin-bottom: 10px;
        }
      }
    }

    .valueEnd {
      width: 200px;
      display: flex;
      align-items: center;
      margin-top: 0;
      justify-content: space-between;
      @media (max-width: 1000px) {
        flex-direction: column;
        & > div {
          p {
            margin: 0 0 10px 0;
          }
        }
        & > div > div {
          width: 100px;
          margin-left: -3px;
        }
      }
      @media (max-width: 800px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 20px 45px 0 0;

        & > div > div {
          width: 122px;
          //margin: 0 -30px 0 0;
        }
        & > div {
          p {
            margin: 0 0 10px 140px;
          }
        }
      }
      @media (max-width: 720px) {
        & > div {
          p {
            margin: 0 0 10px 90px;
          }
        }
      }
      @media (max-width: 530px) {
        & > div {
          p {
            margin: 0 0 10px 40px;
          }
        }
      }


      > div {
        width: 65px;
        @media (max-width: 800px) {
          width: 100%;
        }
      }

      p {
        white-space: nowrap;
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .addLevelBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    @media (max-width: 420px) {
      margin: 30px 0px 20px 40px;
      width: 200px;
    }@media (max-width: 390px) {
      margin: 30px 0px 20px 10px;
      width: 200px;
    }
  }

  .numberChoice + .numberChoice {
    margin-top: 30px;
  }
}

.levelBlockItem {
  font-weight: 600;

  > div {
    margin: 0 44px 0 0;
  }

  .select {
    width: 200px;
    border-radius: 5px;
    border: none;

    & > div {
      padding: 2px 7px;
      border: none;
      outline: none;
    }

    box-shadow: 0 0 20px rgba(186, 198, 216, 0.2);
    @media (max-width: 1000px) {
      width: 150px;
    }

  }
  @media (max-width: 800px) {
    margin: 0 0 20px 0;
    > div {
      margin: 0 24px 20px 0;
    }
  }

}


